
h1{
  font-size: 30px; font-family: Raleway, sans-serif;
}  
label{
  font-size: 15px; font-family: Raleway, sans-serif;
}
select{
  font-size: 15px; font-family: Raleway, sans-serif;
}
input{
  font-size: 15px; font-family: Raleway, sans-serif;
}

